/* Made by desgen */
/* Edited by Mandevwin */
 
* {
    font-family: dejavu sans;
    font-size: 2vmin;
}
.clear {
    clear: both;
}
img {
    display: none;
}
body {
    background: #303030;
    background-repeat: repeat;
    color: #fff;
    font-family: Verdana, Arial, Helvetica;
    font-size: 8pt;
    padding: 10px 15px;
}
#wrapper {
    background: #303030;
    width: 100%;
    border: none;
}
.blue,
.blue a {
    color: #66D9EF;
    margin-top: 5px;
}
.indent {
    left: 24px;
    background: #303030;
}
.mainsection {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 96%;
    width: 75%;
    display: none;
}
.datakey {
    float: left;
    color: #D3D7CF;
}
.datavalue {
    float: left;
    color: #EDD400;
}
.blue > div {
    display: none;
}
.btn-info {
    position: relative;
    color: #D3D7CF;
    background-color: #555753;
    border-color: #586e75;
    margin-top: 10px;
    width: 20%;
    font-size: calc(0.8vw + 1vh)!important;
}
.btn-info:hover {
    color: #D3D7CF;
    background-color: #3A3E40;
    border-color: #586e75;
}
.btn-info.focus,
.btn-info:focus {
    color: #D3D7CF;
    background-color: #3A3E40;
    border-color: #586e75;
}
div:nth-of-type(2) > .clear.blue:nth-of-type(31){
        display: none;
}
.clear.blue:nth-of-type(47){
    display: none;
}
