@-moz-document domain("speccy.piriform.com") {
/* Made by desgen */

* {
    font-family: dejavu sans;
    font-size: 15px;
}
.clear {
    clear: both;
}
img {
    display: none;
}
body {
    background: #002b36;
    background-repeat: repeat;
    color: #fff;
    font-family: Verdana, Arial, Helvetica;
    font-size: 8pt;
    padding: 10px 15px;
}
#wrapper {
    background: #002b36;
    width: 950px;
    border: none;
}
.blue,
.blue a {
    color: #268bd2;
    margin-top: 5px;
}
.indent {
    padding-left: 24px;
    background: #002b36;
}
.mainsection {
    margin: 15px 15px;
    padding-top: 10px;
    clear: both;
    display: none;
}
.datakey {
    float: left;
    color: #839496;
}
.datavalue {
    float: left;
    color: #b58900;
}
.blue > div {
    display: none;
}
.btn-info {
    color: #839496;
    background-color: #073642;
    border-color: #586e75;
    margin-top: 10px;
}
.btn-info:hover {
    color: #839496;
    background-color: #fdf6e3;
    border-color: #586e75;
}
.btn-info.focus,
.btn-info:focus {
    color: #839496;
    background-color: #fdf6e3;
    border-color: #586e75;
}
}
