/* Made by desgen */
/* Edited by Mandevwin */
/* Solarized Theme */
 
* {
    font-family: dejavu sans;
    font-size: 2vmin;
}
.clear {
    clear: both;
}
img{
    display: none;
    
}
body {
    background:#002b36;
    background-repeat: repeat;
    color: #fff;
    font-family: Verdana, Arial, Helvetica;
    font-size: 8pt;
    padding: 10px 15px;
}
#wrapper {
    background: #002b36;
    width: 100%;
    height: 100%;
    border: 0px;
}
.blue,
.blue a {
    color: #268bd2;
    margin-top: 5px;
}
.indent {
    left: 24px;
    background: transparent;
}
.blue.clear > img {
    vertical-align: middle;
    position:relative !important;
    
}
.mainsection {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 96%;
    width: 75%;
    display: none;
}
.datakey {
    float: left;
    color: #839496;
}
.datavalue {
    float: left;;
    color: #b58900;
}
.blue > div {
	display: none;
}
.blue > div a:link {
    font-size: 1vmax !important;
}
.toc-div {
    position: absolute;
    left: 30;
}

.toc-div button {
    color: #839496;
    background-color: #073642;
    width: 100%;
    border-radius: 3px !important;
}
.toc-div button:hover {
    color: #839496;
    background-color: #fdf6e3;
    border:3px solid #586e75;
}

.list-group-item {
    position: relative;
    background-color: #fdf6e3;
    border: 1px solid #586e75 !important;
    margin-top: 10px;
    width: 20%;
    top: 50;
    font-size: calc(0.8vw + 1vh)!important;
}
